---
import ThemeIcon from "../ThemeIcon.astro";
---

<header class="Header">
  <nav class="wrapper">
    <ul>
      <li id="logo">
        <a href=`${import.meta.env.BASE_URL}`>Aurore EnergÃĐtique</a>
      </li>
      <li>
        <a href=`${import.meta.env.BASE_URL}/presentation`>Qui suis-je</a>
      </li>
      <li>
        <a href=`${import.meta.env.BASE_URL}/soins`>Mes soins</a>
      </li>
      <li>
        <a href=`${import.meta.env.BASE_URL}/avis`>Avis</a>
      </li>
      <li>
        <a href=`${import.meta.env.BASE_URL}/contact`>Contact</a>
      </li>
      <li>
        <ThemeIcon />
      </li>
    </ul>
  </nav>
</header>
